<div class="container">
	<div class="row">
		<h2>Sign up</h2> </div> <br/>
		<% if params[:plan] =='3' %>
			<h2> Pro account sign up form </h2>
			<%= render "pro_form" %>
		<% else %>
			<h2> Basic account sign up form </h2>
			<%= render "shared/register" %>
		<% end %> <br/>
		<%= render "devise/shared/links" %>
	</div>
</div>

		

