<div class="container">
	<p><strong><%= @student_name %></strong> canceló la clase de <strong><%= @lesson_language %></strong> con fecha de <strong><%= @lesson_date %></strong> en la zona horaria de <strong><%= @teacher_timezone %></strong></p>
</div>