<div class="container">
	<p> Hola <strong><%= @student_name %></strong> te recordamos que en <b>1 hora</b> tienes clase de <strong><%= @lesson_language %></strong> con <strong><%= @teacher_name %></strong>.</p>

	<strong><p style= "color:#317A9F;"> 5 roots </p></strong>
</div>