<div class="container">
	<p> Hola <b><%= @teacher_name %></b> te recordamos que en <b>1 hora</b> tienes clase de <b><%= @lesson_language %></b> con <b><%= @student_name %></b>. </p>
	<strong><p style= "color:#317A9F;"> 5 roots </p></strong>
</div>