<p id="notice"><%= notice %></p>

 <div id="all_list">
	<%= render 'all_list' %>
	<div class="container">
		<div class="pagination">
			<%= will_paginate @users, renderer: @renderer %>
		</div>
	</div>
</div>



