      <div class="marketing">
        <h1 class="text-center"><%= t('reviews_title') %></h1>
        <br><br>

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src='/assets/Gonz.jpg' alt="Generic placeholder image" width="140" height="140"><br/><br/>
            <i class="far fa-file-alt"></i>
            <h3><a href= "https://www.facebook.com/pg/5roots.co/reviews/?ref=page_internal"> Gonzalo</a></h3>
            <p><%= t('reviews_comment_1') %></p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src='/assets/martha.jpeg' alt="Generic placeholder image" width="140" height="140"><br/><br/>
            <h3><a href= "https://www.facebook.com/pg/5roots.co/reviews/?ref=page_internal">Martha</a></h3>
            <p><%= t('reviews_comment_2') %></p>
            
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src='/assets/dani.jpg' alt="Generic placeholder image" width="140" height="140"><br/><br/>
            <h3><a href= "https://www.facebook.com/pg/5roots.co/reviews/?ref=page_internal"> Daniela</a></h3>
            <p><%= t('reviews_comment_3') %>
            </p>
            
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>