

<div class="container mt-auto">
	<div class="pl-2">
		<h1 style="color:#55A747;"> FAQ </h1><br/>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
	   <b style="color:#347DA0;">What payment methods do you accept?</b>
	  </a>
	</p><hr>
	<div class="collapse show" id="collapseExample">
	  <div class="card card-body">
	    Payment is made through Stripe, a 100% secure payment method, you can pay with your Visa, Mastercard and American Express cards.
	  </div><br/>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
	  	<b style="color:#347DA0;">How do I schedule my first class?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample1">
	  <div class="card card-body">
	    Once you have made the payment of your subscription, a member of the team of 5 Roots will contact you to give you all the information of the teacher who will attend you and so you can choose the day to start with the classes.
	  </div><br/>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
	   <b style="color:#347DA0;"> How can I define my schedule?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample2">
	  <div class="card card-body">
	    One of the great advantages of 5 Roots is that you, along with the teacher define the schedule for the classes.

	    Once defined, the teacher will send us a copy of it so that we can keep track of it.
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
	    <b style="color:#347DA0;">Can I modify my schedule?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample3">
	  <div class="card card-body">
	    Of course, as long as you agree with your teacher to change a class that you do not have the power to attend, in order to make this change, you must comply with our cancellation or change policy.
		If you make the change of a class and both agree it is not necessary to notify a person of the team of 5 Roots, if you have any problem with changing your class then get in touch with us so we can help you.
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
	    <b style="color:#347DA0;">What happens if the teacher does not show up for the class?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample4">
	  <div class="card card-body">
	    If the teacher does not show up, write us directly by WhatsApp and we will refund your money from that class and if you would like to change your teacher then we can do it.
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
	    <b style="color:#347DA0;">How can I change my teacher?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample5">
	  <div class="card card-body">
	    If you are not happy with your teacher, write to us at hello@5roots.co and we will assign another teacher to suit your needs.
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
	    <b style="color:#347DA0;">Where are the classes held?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample6">
	  <div class="card card-body">
	    All the classes are via Skype.
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
	    <b style="color:#347DA0;">What is the cancellation or change policy of a class?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample7">
	  <div class="card card-body">
	    You can cancel or change a class at least 24 hours in advance, if you do not do it and you do not attend the class then you will lose it.
	    Is very important for us the time that the teacher devotes to prepare a class so we ask that if you are going to make a change, you notify him in due time.
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8">
	    <b style="color:#347DA0;">How can I cancel my membership?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample8">
	  <div class="card card-body">
	    To cancel your subscription you must send an email to hello@5roots.co and we will help you to cancel your account.
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample9">
	    <b style="color:#347DA0;">Do you need help?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample9">
	  <div class="card card-body">
	    If you have any question please send an email to ello@5roots.co or send a Whatsapp message to +52 1 81-2110-1114<
	  </div>
	</div>

</div>




















