

<div class="container mt-auto">
	<h1> FAQ </h1><br/>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
	    <b>1. Cómo agendo mi primer clase?</b>
	  </a>
	</p><hr>
	<div class="collapse show" id="collapseExample">
	  <div >
	    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
	  </div><br/>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
	    <b>2. puedo tener otra membresía?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample2">
	  <div>
	    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
	  </div><br/>
	</div>

		<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
	    <b>3. Cuál será mi horario de clases?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample3">
	  <div class="card card-body">
	    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
	  </div>
	</div>

		<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
	    <b>4. Puedo modificar mi horario?</b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample4">
	  <div class="card card-body">
	    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
	  </div>
	</div>
</div>




















