<div class="container text-center">
	<div>
		<h1 style="color:#317A9F;">Welcome <%= current_user.name %> </h1>
	</div>
	<div>
		<h3>We are building a cool website for you!</h3><hr><br/>
	</div>
</div>

<div class="container card-body">
	<div>
		<h2 class="pl-1" style="color:green;"> Did you sign up for a free class or with a membership?</h2><br/>
	</div>
	<div class="card-header rounded">
		<ul style="list-style-type:none" class="pl-0">
			<li>
				<b>Step 1.</b> If you have just signed up for a free class or with a membership wait for us to contact you, we'll do it asap.<br/>If for any case you don't hear from us, write us via Whatsapp at this number <i><b> +521-812-110-1145</b></i> and say that you've just sign up for a 30 minutes free trial class.
			</li><br/>
			<li>
				<b>Step 2.</b> Once we contact and review your profile we'll look for the best teacher for you.
			</li><br/>
			<li>
				<b>Step 3.</b> After we find you a teacher we'll send an e-mail and a Whatsapp to you with his/her information like: name, e-mail, Whatsapp and description.
			</li><br/>
			<li>
				<b>Step 4.</b> The teacher will get in touch with you through Whatsapp, so you can match the schedule for your first class.
			</li><br/>
			<li><b>Step 5.</b>
				<ul style="list-style-type:none">
					<li><b>a)</b> If you've already <b>bought a membership</b> and you liked your teacher then you can schedule your next classes with your teacher.</li>
					<li><b>b)</b> If you took a <b>free class</b> then will get in touch with you to see if you would like to continue and buy a membership so you can schedule your next classes with your teacher.</li>
				</ul>
			</li><br/>
		</ul>

		<b style="color:red;">Note:</b> All this steps happen in no more than one day.
	</div>
