<div class="container">
  <h1> Memberships </h1>

  <ul>
    <li>Básica 1,120 MXN <br/> <%= link_to "Subscribe", new_membership_path(plan: "5"), class:"btn btn-success" %></li>
    <li>Intermedia 2,080 MXN <br/> <%= link_to "Subscribe", new_membership_path(plan: "6"), class:"btn btn-success" %></li>
    <li>Intensiva 3,060 MXN <br/> <%= link_to "Subscribe", new_membership_path(plan: "7"), class:"btn btn-success" %></li>
  </ul>
</div>