
    <div class="row justify-content-md-center">
     	<div class="col-4 field">
			<h1>Editando estudiante</h1>
		</div>
	</div>
	<%= render 'form', crm: @crm %>

	<br>

    <div class="row justify-content-md-center">
     	<div class="col-4 field">
			<%= link_to 'Show', @crm %> |
			<%= link_to 'Back', crms_path %>
		</div>
	</div>
